## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [4]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns = ['EIN', 'NAME'])

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [5]:
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

Inputs - APPLICATION_TYPE, AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT

Outputs - IS_SUCCESSFUL - 0 if not successful, 1 if successful.

In [8]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

APPLICATION_TYPE and CLASSIFICATION will be focused on as they have more than 10 values.

In [9]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
application_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

Suggested cutoff will be 500 - anything less will go into Other

In [10]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [11]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

Suggested cutoff will be everywhere where classification counts is > 1

In [12]:
# You may find it helpful to look at CLASSIFICATION value counts >1
class_counts[class_counts > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

Updated suggested cutoff will be 1000

In [13]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(class_counts[class_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [14]:
# Convert categorical data to numeric with `pd.get_dummies`
application_with_dummies_df = pd.get_dummies(application_df)
application_with_dummies_df.head(3)

   STATUS  ASK_AMT  ...  SPECIAL_CONSIDERATIONS_N  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                         1                         0
1       1   108590  ...                         1                         0
2       1     5000  ...                         1                         0

[3 rows x 44 columns]

In [15]:
# Split our preprocessed data into our features and target arrays
X = application_with_dummies_df.drop(columns = 'IS_SUCCESSFUL').values
y = application_with_dummies_df['IS_SUCCESSFUL'].values
# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

In [16]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [17]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
layer1Nodes = 80
layer2Nodes = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer1Nodes, input_dim = number_input_features,activation = 'relu')
)

# Second hidden layer
nn.add(
    tf.keras.layers.Dense(units=layer2Nodes, input_dim = layer1Nodes,activation = 'relu')
)

# Output layer
nn.add(
    tf.keras.layers.Dense(units=1, input_dim = layer2Nodes,activation = 'sigmoid')
)

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3520

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,981
Trainable params: 5,981
Non-trainable params: 0
_________________________________________________________________

In [20]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [21]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs = 100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5696 - accuracy: 0.7206
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5535 - accuracy: 0.7298
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5511 - accuracy: 0.7299
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5489 - accuracy: 0.7313
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5477 - accuracy: 0.7334
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5470 - accuracy: 0.7344
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7340
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5458 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7347
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5451 - accuracy: 0.7352
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5448 - accuracy: 0.7344
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5439 - accuracy: 0.7339
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5435 - accuracy: 0.7365
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5433 - accuracy: 0.7367
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5429 - accuracy: 0.7357
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7364
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5425 - accuracy: 0.7359
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5426 - accuracy: 0.7371
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7366
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5419 - accuracy: 0.7372
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5418 - accuracy: 0.7372
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7374
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7370
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5411 - accuracy: 0.7373
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5406 - accuracy: 0.7369
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7365
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5405 - accuracy: 0.7367
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5398 - accuracy: 0.7374
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5398 - accuracy: 0.7376
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5402 - accuracy: 0.7375
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5401 - accuracy: 0.7387
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5395 - accuracy: 0.7382
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5396 - accuracy: 0.7381
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5397 - accuracy: 0.7376
Epoch 35/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5389 - accuracy: 0.7385
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5392 - accuracy: 0.7389
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5390 - accuracy: 0.7378
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5386 - accuracy: 0.7387
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5387 - accuracy: 0.7376
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5388 - accuracy: 0.7383
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7388
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5382 - accuracy: 0.7385
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7391
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7393
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7389
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7392
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5380 - accuracy: 0.7390
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7386
Epoch 49/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7388
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7391
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7393
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7404
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7389
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5370 - accuracy: 0.7398
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7393
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5373 - accuracy: 0.7396
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7403
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7397
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7396
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5362 - accuracy: 0.7396
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7399
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7400
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5361 - accuracy: 0.7397
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7403
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5356 - accuracy: 0.7403
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5359 - accuracy: 0.7404
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5356 - accuracy: 0.7401
Epoch 70/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5358 - accuracy: 0.7404
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7403
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7405
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5354 - accuracy: 0.7410
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5355 - accuracy: 0.7404
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7402
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5353 - accuracy: 0.7405
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5349 - accuracy: 0.7408
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5350 - accuracy: 0.7406
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5351 - accuracy: 0.7413
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5352 - accuracy: 0.7411
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7413
Epoch 83/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5345 - accuracy: 0.7409
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7409
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7414
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7416
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5346 - accuracy: 0.7410
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5348 - accuracy: 0.7408
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7415
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7409
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5344 - accuracy: 0.7423
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7414
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5347 - accuracy: 0.7412
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5343 - accuracy: 0.7411
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5338 - accuracy: 0.7412
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5341 - accuracy: 0.7419
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5335 - accuracy: 0.7414
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.5339 - accuracy: 0.7416
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5340 - accuracy: 0.7408
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5339 - accuracy: 0.7417

In [22]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5601 - accuracy: 0.7271 - 456ms/epoch - 2ms/step
Loss: 0.5600768327713013, Accuracy: 0.7271137237548828

In [23]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity.h5')